:root {
    --color-background: #0C0C0C;
    --color-background-2: #1A1A1A;
    --color-background-3: #262626;
    --color-foreground: #DBDBDB;
    --color-highlight: #FF6060;
    --color-highlight2: #FF8080;
    box-sizing: border-box;
    font-family: monospace;
    font-weight: 300;
    letter-spacing: -0.06rem;
    font-size: 18px;
}

::selection {
    background: var(--color-highlight2);
}

body {
    background: var(--color-background);
    color: var(--color-foreground);
}

.nav-list {
    background: var(--color-background-2);
    padding: 0.3rem 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 1rem;
}

.nav-item a {
    text-decoration: none;
    color: var(--color-foreground);
    transition: all 200ms ease-in;
}

.nav-item a:hover {
    color: var(--color-highlight);
}

button, input[type=submit]{
    border: none;
    background: var(--color-highlight);
    color: var(--color-background);
    transition: all 200ms ease-in;
    padding: 0.1rem 2rem;
    font-family: monospace;
    font-weight: 300;
    letter-spacing: -0.06rem;
    font-size: 18px;
}

button:hover, input[type=submit]:hover {
    background: var(--color-highlight2);
}

.switch {
    display: inline-block;
    position: relative;
    width: 2.5rem;
    height: 1.5rem;
    background: var(--color-background-2);
    transition: background 0.2s ease-in;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 0.5rem;
}

.switch::before {
    content: '';
    position: absolute;
    top: 0.15rem;
    left: 0.25rem;
    width: 1.2rem;
    height: 1.2rem;
    background: var(--color-foreground);
    border-radius: 50%;
    transition: left 0.2s ease-in;
}

input:checked + .switch {
    background: var(--color-highlight);
}

input:checked + .switch::before {
    left: 1.1rem;
    background: var(--color-background-2);
}

input[type=password], input[type=text] {
    border-color: var(--color-highlight);
    border-width: 1px;
    background: var(--color-background3);
    color: var(--color-foreground);
    padding-left: 5px;
}

:focus {
    outline: none;
}
